html * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
        background-image: linear-gradient(to right, rgb(67, 145, 235), rgb(34, 216, 207));
        color: white;
      }

#fiveday-header {
    color: white;
    text-align: center;
}

.col-md-2 {
    background-image: linear-gradient(to right, rgb(67, 145, 235), rgb(34, 216, 207));
}

.col-lg-11 {
    border: black 1px solid;
}

.mt-1 {
    color: red;
}


.col-12 {
    background-color: rgb(67, 145, 235);
}

.btn {
    color: white;
    background-color: rgb(67, 145, 235);
}
    